#root {
    margin: auto;
    width: 80vw;
    max-width: 1280px;
    height: 80vh;
    max-height: 80vh;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    "title title"
    "user-list average";
    grid-gap: 2rem;
}

.title {
    grid-area: title;
    text-transform: uppercase;
    text-align: center;
}

.user-list {
    background: salmon;
    grid-area: user-list;
    overflow-y: auto;
}

.user-list ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
}

.average {
    background: orange;
    grid-area: average;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.result {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    line-height: 1em;
}
